<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="layout(content)">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<!-- custom css -->
	<link rel="stylesheet" th:href="@{/css/style.css}">
    <title th:text="${title}">Sukriti Kuila Blog</title>
  </head>
  <body>
    
     <!-- navbar start -->
    <nav class="fixed-top navbar navbar-expand-lg navbar-light bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="#">Sukriti Kuila Blog</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto text-uppercase">
        <li class="nav-item">
          <a th:href="@{/}" class="nav-link text-white" href="#">Home</a>
        </li>
     <!--    <li class="nav-item">
          <a class="nav-link text-white" href="#">About</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link text-white">
          <span th:text="${user.name}"></span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" th:href="@{/logout}">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<!-- end of navbar  --> 
    
<!-- start of sidebar -->    
    <div class="sidebar" style="margin-top:-1%">
    	<span onclick="toggleSidebar()" class="crossBtn">&times;</span>
    	
    	<a href="#" th:href="@{/user/index}" class="item"><i class="fa-solid fa-house"></i> Home</a>
    	<a href="#" th:href="@{/user/show-blogs/0}" class="item"> <i class="fa-solid fa-newspaper"></i> View Blog</a>
    	<a href="#" th:href="@{/user/add-blog}" class="item"> <i class="fa-solid fa-plus"></i> Add Blog</a>
    	<a href="#" class="item"><i class="fa-solid fa-user"></i> Your Profile</a>
    	<a href="#" class="item"><i class="fa-solid fa-gear"></i> Settings</a>
    	<a href="#" th:href="@{/logout}" class="item"><i class="fa-solid fa-right-from-bracket"></i> Logout</a>
    	<div class="divider"></div>
    </div>
<!-- end of sidebar -->

<!-- start of content div -->    
    <div class="content" style="margin-top:5%">
    	<i onclick="toggleSidebar()" class="fas fa-bars m-3" style="cursor:pointer"></i>
    	<div th:replace="${content}"></div>
    </div>
<!-- end of content div -->    

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	<script src="jquery-3.6.3.min.js"></script>
    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
    <script th:src="@{/js/script.js}"></script>
  </body>
</html>